<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="border-radius: 20px; width: 200px;"/>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 10px; max-width: 240px;">
          <a href="https://www.python.org" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python" style="width: 30px;">
          </a>
          <a href="https://isocpp.org" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++" style="width: 30px;">
          </a>
          <a href="https://redis.io" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg" alt="Redis" style="width:30px;">
          </a>
          <a href="https://git-scm.com" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git" style="width: 30px;">
          </a>
        
          <a href="https://www.typescriptlang.org" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" style="width: 30px;">
          </a>
          <a href="https://code.visualstudio.com" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="VSCode" style="width: 30px;">
          </a>
          <!-- <a href="https://github.com" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" style="width: 30px;">
          </a> -->
          <a href="https://en.cppreference.com/w/c" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" alt="C" style="width: 30px;">
          </a>
        
          <a href="https://www.postgresql.org" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="PostgreSQL" style="width: 30px;">
          </a>
          <a href="https://reactnative.dev" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React Native" style="width: 30px;">
          </a>
          <a href="https://fastapi.tiangolo.com" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/fastapi/fastapi-original.svg" alt="FastAPI" style="width: 30px;">
          </a>
          <a href="https://vitejs.dev" target="_blank">
            <img src="https://vitejs.dev/logo.svg" alt="Vite" style="width: 30px;">
          </a>
        
          <a href="https://www.docker.com" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker" style="width: 30px;">
          </a>
          <a href="https://www.postman.com" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg" alt="Postman" style="width: 30px;">
          </a>
          <a href="https://www.apple.com/macos" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/apple/apple-original.svg" alt="macOS" style="width: 30px;">
          </a>
          <a href="https://kernel.org" target="_blank">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" alt="Linux" style="width: 30px;">
          </a>
        </div>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_user_page %}
        <p class="view">
          <a href="{{ site.github.owner_url }}">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" style="width: 30px;">
          </a>
          <a href="https://www.linkedin.com/in/leo-wang-09833128a/">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" style="width: 30px; margin-left: 6px;">
          </a>
        </p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
